.heroSection {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  pointer-events: none;
}

.content {
  position: relative;
  text-align: center;
}

.name {
  font-family: 'RussoOne', sans-serif;
  font-size: 6rem;
  font-weight: 400;
  color: var(--color-text-primary);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.jobTitle {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--color-text-primary);
  text-transform: uppercase;
  white-space: nowrap;
}


@media (max-width: 768px) {
.jobTitle {
  white-space: normal;
  }

.name {
      white-space: normal;
      font-size: 4rem;
  }
}