.aboutSection {
    padding: 5rem 2rem;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    text-align: center;
}

.aboutTitle {
    font-family: 'RussoOne', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--color-accent-yellow);
}

.aboutTextContainer {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.aboutText {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {

};